
.icon-angle-arrow-down:before { content: '\e800'; } /* '' */
.icon-angle-arrow-pointing-to-right:before { content: '\e801'; } /* '' */
.icon-angle-pointing-to-left:before { content: '\e802'; } /* '' */
.icon-box:before { content: '\e803'; } /* '' */
.icon-credit-card:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-letter-k-of-filled-bones-halloween-typography:before { content: '\e808'; } /* '' */
.icon-magnifying-glass:before { content: '\e809'; } /* '' */
.icon-menu-options:before { content: '\e80a'; } /* '' */
.icon-return:before { content: '\e80b'; } /* '' */
.icon-shipped:before { content: '\e80c'; } /* '' */
.icon-shopping-bag:before { content: '\e80d'; } /* '' */
.icon-title:before { content: '\e80e'; } /* '' */
.icon-up-arrow:before { content: '\e80f'; } /* '' */